
/* Slideshow */

.slideshow {
    margin: 0 auto;
    overflow: hidden;
    width: 400px;
    transition: linear ;
}

.slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
}

.slide {
    display: inline-block;
    position: relative;
    height: 460px;
    width: 100%;
    border-radius: 40px;
}

/* Buttons */

.slideshowDots {
    text-align: center;
}

.slideshowDot {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;

    cursor: pointer;
    margin: 15px 7px 0;

    background-color: #c4c4c4;
}

.slideshowDot.active {
    background-color: #981b1b;
}
