@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Crimson+Text:ital,wght@0,400;1,600&family=Sawarabi+Mincho&family=Yellowtail&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        font-family: 'Berkshire Swash', 'Sawarabi Mincho', 'Crimson Text', sans-serif;
        font-size: 20px;
        color: #282c34;
    }
}